<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd
   http://www.springframework.org/schema/aop 
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<context:annotation-config /><!-- active annotations in registered beans -->
	<aop:aspectj-autoproxy /><!-- Enable AspectJ AOP annotations -->

	<bean name="russianBlue" class="io.github.wilsontheory.model.RussianBlue">
		<property name="name" value="Happy Kot" />
	</bean>

	<bean name="siamese" class="io.github.wilsontheory.model.Siamese">
		<property name="name" value="Indy" />
	</bean>
	
	<bean name="calico" class="io.github.wilsontheory.model.Calico">
	</bean>
	
	<bean name="catService" class="io.github.wilsontheory.service.CatService" autowire="byName" />

	<bean name="loggingAspect" class="io.github.wilsontheory.aspect.LoggingAspect" />
	
	<bean name="loggingAspectXML" class="io.github.wilsontheory.aspect.LoggingAspectXML" />
	
	<aop:config>
		<aop:aspect id="loggingAspectXML" ref="loggingAspectXML">
			<aop:pointcut id="allGettersXML" expression="execution(* get*())" />
			<!-- functionally identical to the original  -->
			<aop:before method="printLogFromXMLConfig" pointcut-ref="allGettersXML" />
			<!-- can declare pointcut inline (pointcut="execution(* get*())) -->
		</aop:aspect>
	</aop:config>

</beans>